*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}
body{
    height: 100vh;
    overflow: hidden;
}
.app-container{
    background: #111b21;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.app{
    margin: 0 auto;
    width: calc(480px + 1120px);
    display: flex;
    flex-direction: row;
}
.left-side-container{
    border-right: 0.05px solid rgba(233,237,239,0.2);
    height: 100vh;
    max-width: 40%;
    flex-direction: column;
    flex: 43%;

}
.right-side-container{
    height: 100%;
    width: 100%;
    flex-direction: column;

}
.left-side-bar{
    width: 100%;
    height: 59px;
    background: #202c33;
    box-shadow: 0 1px 3px rgba(11, 20, 26,.4);
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}
.user-profile-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.user-profile-img img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.left-side-left{
    height: 100%;
    width: 100%;
}
.left-bar-btns{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    text-align: center;
}
.l-b-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.right-side-bar{
    width: 100%;
    height: 59px;
    background: #202c33;
    box-shadow: 0 1px 3px rgba(11, 20, 26,.4);
}
.app-bars{
    display: flex;
    flex-direction: row;
    gap: 0;
}
.not-connected{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 107px;
    gap: 1rem;
    background: rgba(52,70,81,0.3);
    padding: 1rem;
}
.warning-img{
    width: 49px;
    height: 48px;
}
.warning-info-details{
    font-size: 16px;
    color: white;
    line-height: 21px;
}

